/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

table.listTable {
    cursor: pointer;
    /*border: 1px solid;*/
    width: 100%;
    padding: 0;
    font-size: 18px;
}

.listTable tr {
    background: #eee;
    text-align: center;
}

.listTable tr:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.listTable tr:hover {
    background: #ddd;
}

/* Style the close button */
/*.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}*/

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the filter */
input.filter{
    border: none;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the input */
table.addNew{
    border: none;
    /*width: 20%;*/
    padding: 10px;
    float: right;
    font-size: 16px;
    /*display: none;*/
}

/* Style the "Add" button */
.addBtn {
    padding: 14px;
    /*width: 25%;*/
    background: #f44336;
    color: #000;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 100%;
    margin: 10px;
/*    position: absolute;
    bottom: 0;
    right: 0;*/

}

.hide {
    display: none;
}

tr.done {
    color: lightgrey;
}

/*.addBtn:hover {
    background-color: #bbb;
}*/
